<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizarra - Intervenciones</title>
    <link th:href="@{../../css/navbar.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{../../css/lista.css}" rel="stylesheet" type="text/css" media="screen"/> 
</head>

<body>
    <div class="heading">
        <ul class="menu">
        <li><a class="pizarrap" href="/usuarios/user/inicio"><h1>PIZZA<span>RAP</span></h1></a></li>
        <div class="dropdown">
            <button class="dropbtn">Intervenciones
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/intervenciones/user/vista_intervenciones">Lista de Intervenciones</a>
              <a href="/intervenciones/user/matriz_intervenciones">Matriz de Intervenciones</a>
            </div>
        </div>
        <li><a class="nav_der" href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>
<div class="main-container">
    <h1>Lista de Intervenciones</h1><hr>
    <div>
<table id="lista">
    <thead>
    <tr>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Paciente</th>
        <th>Profesional</th>
        <th>Quirofano</th>
        <th>Descripcion</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="intervencion : ${intervenciones}">
            <td th:text="${intervencion.fechaHoraInicio}"></td>
            <td th:text="${intervencion.fechaHoraFin}"></td>
            <td th:text="${intervencion.paciente}"></td>
            <td th:text="${intervencion.profesional.matricula} + ' - ' + ${intervencion.profesional.apellido} + ' ' + ${intervencion.profesional.nombre}"></td>
            <td th:text="${intervencion.quirofano.nombre}"></td>
            <td th:text="${intervencion.descripcion}"></td>
            <td th:if="${intervencion.estado == true}">Realizada</td>
            <td th:unless="${intervencion.estado == true}">Pendiente</td>
        </tr>
    </tbody>
</table>
</div>
     </div>
</body>
</html>