<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Lista de x</title>
		<link th:href="@{../../css/lista.css}" rel="stylesheet" type="text/css" media="screen"/>   
	</head>
	<body>
		<div class="heading">
			<ul class="menu">
			<li><h1>PIZZA<span>RAP</span></h1></li>
			</ul>
		</div>
		<div class="main-container">
		
		<div>
    <table id="lista">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Matricula</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profesional : ${profesionales}">
            <td th:text="${profesional.nombre}"></td>
            <td th:text="${profesional.apellido}"></td>
            <td th:text="${profesional.telefono}"></td>
            <td th:text="${profesional.email}"></td>
            <td th:text="${profesional.matricula}"></td>
            <td><a th:href="@{/profesionales/borrar/{id}(id=${profesional.id})}">X</a></td>
        </tr>
        </tbody>
    </table>
</div>
		 </div>
        <form action="#" th:action="@{/profesionales/reg_profesional}" method="get">
            <button type="submit" class="button" name="sesion">Registrar Profesional</button>
        </form>
        <a href="/usuarios/admin/inicio" class="button">Volver al inicio</a>
	</body>
</html>