<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Lista de x</title>
		<link th:href="@{../../css/lista.css}" rel="stylesheet" type="text/css" media="screen"/>   
	</head>
	<body>
		<div class="heading">
			<ul class="menu">
				<li><h1>PIZZA<span>RAP</span></h1></li>
			</ul>
		</div>
		<div class="main-container">
			<table id="lista">
			<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Eliminar</th>
				<th>Editar</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
				<td><a th:href="@{/usuarios/admin/borrar/{id}(id=${usuario.id})}">X</a></td>
				<td><a th:href="@{/usuarios/admin/editar/{id}(id=${usuario.id})}">X</a></td>
			</tr>
			</tbody>
			</table>
		 </div>
		 <a href="/usuarios/admin/inicio" class="button">Volver al inicio</a>
	</body>
</html>