<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de intervenciones</title>
    <link th:href="@{../../css/matriz.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{../../css/navbar.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
<div class="heading">
    <ul class="menu">
        <li><a class="pizarrap" href="/usuarios/admin/inicio"><h1>PIZZA<span>RAP</span></h1></a></li>
        <div class="dropdown">
            <button class="dropbtn">Usuarios
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/usuarios/admin/lista">Lista de Usuarios</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Profesionales
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/profesionales/lista_profesionales">Lista de Profesionales</a>
                <a href="/profesionales/reg_profesional">Registrar Profesional</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Quirofanos
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/quirofanos/lista_quirofanos">Lista de Quirofanos</a>
                <a href="/quirofanos/reg_quirofano">Registrar Quirofano</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Intervenciones
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/intervenciones/admin/vista_intervenciones">Lista de Intervenciones</a>
                <a href="/intervenciones/admin/matriz_intervenciones">Matriz de Intervenciones</a>
                <a href="/intervenciones/admin/reg_intervencion">Registrar Intervencion</a>
            </div>
        </div>
        <li><a class="nav_der" href="/logout">Cerrar Sesión</a></li>
    </ul>
</div>  
    <div class="main-container">
        <h1>Matriz de Intervenciones</h1>
        <hr>
        <form id="filtro" th:action="@{/intervenciones/admin/matriz_intervenciones}" method="get">
            <input type="date" style="width : 250px" name="fechaFiltro" />
        	<button type="submit" class="button">Filtrar</button>
    	</form>
        <table id="lista">
  	  <th id="quirofano">Quirofano</th>
      <th>00:00hs - 04:00hs</th>
      <th>04:00hs - 08:00hs</th>
      <th>08:00hs - 12:00hs</th>
      <th>12:00hs - 16:00hs</th>
      <th>16:00hs - 20:00hs</th>
      <th>20:00hs - 24:00hs</th>
    <tr th:each="mquirofano : ${mquirofanos}">
            <td id="quirofano" th:text="${mquirofano.quirofano.nombre}"></td>
            
            <td th:if="${mquirofano.rango0 != null and mquirofano.rango0.estado == false}"><a id="pendiente" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango0.id})}">ㅤ</a></td>
            <td th:if="${mquirofano.rango0 != null and mquirofano.rango0.estado == true}"><a id="realizada" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango0.id})}">ㅤ</a></td>
            <td th:unless="${mquirofano.rango0 != null}"><a id="vacio">ㅤ</a></td>
            
            <td th:if="${mquirofano.rango1 != null and mquirofano.rango1.estado == false}"><a id="pendiente" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango1.id})}">ㅤ</a></td>
            <td th:if="${mquirofano.rango1 != null and mquirofano.rango1.estado == true}"><a id="realizada" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango1.id})}">ㅤ</a></td>
            <td th:unless="${mquirofano.rango1 != null}"><a id="vacio">ㅤ</a></td>
            
            <td th:if="${mquirofano.rango2 != null and mquirofano.rango2.estado == false}"><a id="pendiente" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango2.id})}">ㅤ</a></td>
            <td th:if="${mquirofano.rango2 != null and mquirofano.rango2.estado == true}"><a id="realizada" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango2.id})}">ㅤ</a></td>
            <td th:unless="${mquirofano.rango2 != null}"><a id="vacio">ㅤ</a></td>
            
            <td th:if="${mquirofano.rango3 != null and mquirofano.rango3.estado == false}"><a id="pendiente" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango3.id})}">ㅤ</a></td>
            <td th:if="${mquirofano.rango3 != null and mquirofano.rango3.estado == true}"><a id="realizada" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango3.id})}">ㅤ</a></td>
            <td th:unless="${mquirofano.rango3 != null}"><a id="vacio">ㅤ</a></td>
            
            <td th:if="${mquirofano.rango4 != null and mquirofano.rango4.estado == false}"><a id="pendiente" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango4.id})}">ㅤ</a></td>
            <td th:if="${mquirofano.rango4 != null and mquirofano.rango4.estado == true}"><a id="realizada" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango4.id})}">ㅤ</a></td>
            <td th:unless="${mquirofano.rango4 != null}"><a id="vacio">ㅤ</a></td>
            
            <td th:if="${mquirofano.rango5 != null and mquirofano.rango5.estado == false}"><a id="pendiente" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango5.id})}">ㅤ</a></td>
            <td th:if="${mquirofano.rango5 != null and mquirofano.rango5.estado == true}"><a id="realizada" th:href="@{/intervenciones/admin/vista_intervencion/{id}(id=${mquirofano.rango5.id})}"><ㅤ/a></td>
            <td th:unless="${mquirofano.rango5 != null}"><a id="vacio">ㅤ</a></td>
        </tr>
        </tbody>
        </table>
    </div>
</body>
</html>