<!DOCTYPE html>
<html>
<head>
    <title>
        Registrar intervencion
    </title>
    <link th:href="@{../../../css/register_style.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{../../../css/navbar.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
<div class="heading">
    <ul class="menu">
        <li><a class="pizarrap" href="/usuarios/admin/inicio"><h1>PIZZA<span>RAP</span></h1></a></li>
        <div class="dropdown">
            <button class="dropbtn">Usuarios
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/usuarios/admin/lista">Lista de Usuarios</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Profesionales
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/profesionales/lista_profesionales">Lista de Profesionales</a>
                <a href="/profesionales/reg_profesional">Registrar Profesional</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Quirofanos
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/quirofanos/lista_quirofanos">Lista de Quirofanos</a>
                <a href="/quirofanos/reg_quirofano">Registrar Quirofano</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Intervenciones
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/intervenciones/admin/vista_intervenciones">Lista de Intervenciones</a>
                <a href="/intervenciones/admin/matriz_intervenciones">Matriz de Intervenciones</a>
                <a href="/intervenciones/admin/reg_intervencion">Registrar Intervencion</a>
            </div>
        </div>
        <li><a class="nav_der" href="/logout">Cerrar Sesión</a></li>
    </ul>
</div>

<div th:if="${error != null}" class="alert alert-danger" role="alert">
    <span class="d-block" th:text="${error}"></span>
</div>

<form th:action="@{/intervenciones/admin/reg_intervencion/}" th:object="${intervencion}" method="post" role="form">
    <div class="container">
        <h1>Registrar intervencion</h1>
        <hr>

        <label for="email"><b>Fecha de inicio</b></label><br>
        <input id="datelocal" type="datetime-local" th:field="*{fechaHoraInicio}" style="width : 250px" required/>
        <br><br>

        <label for="email"><b>Fecha de fin</b></label><br>
        <input id="datelocal" type="datetime-local" th:field="*{fechaHoraFin}" style="width : 250px" required/>
        <br><br>

        <label for="psw-repeat"><b>Paciente</b></label>
        <input type="text" th:field="*{paciente}" placeholder="Ingrese el paciente" name="psw-repeat" id="psw-repeat" required>

        <label for="email"><b>Descripcion</b></label>
        <input type="text" th:field="*{descripcion}" placeholder="Ingrese una descripcion" name="email" id="email" required>

        <label for="email"><b>Profesional</b></label>
        <br>  
        <br>
        <select name="profesional" th:field="*{profesional}">
            <option th:each="profesional:${profesionales}"
                    th:value="${profesional.id}"
                    th:text="${profesional.matricula} + ' - ' + ${profesional.apellido} + ' ' + ${profesional.nombre}" />
        </select>
        <br>
        <br>     


        <label for="email"><b>Quirofano</b></label>
        <br>  
        <br>

        <select name="quirofano" th:field="*{quirofano}">
            <option th:each="quiro:${quirofanos}"
                    th:value="${quiro.id}"
                    th:text="${quiro.nombre}" />
        </select>
        <br><br>
        <hr>

        <button type="submit" class="registerbtn">Registrar</button>
    </div>
</form>

</body>
</html>