<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Lista de quirofanos</title>
		<link th:href="@{../../css/lista.css}" rel="stylesheet" type="text/css" media="screen"/>   
	</head>
	<body>
		<div class="heading">
			<ul class="menu">
				<li><h1>PIZZA<span>RAP</span></h1></li>
			</ul>
		</div>
<div class="main-container">
    <table id="lista">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre de sala</th>
            <th scope="col">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quirofano : ${quirofanos}">
            <td th:text="${quirofano.nombre}"></td>
            <td><a th:href="@{/quirofanos/borrar/{id}(id=${quirofano.id})}">X</a></td>
        </tr>
        </tbody>
    </table>
	
</div>
<a href="/usuarios/admin/inicio" class="button">Volver al inicio</a>
</body>
</html>