<!DOCTYPE html>
<html>
	<head>
    <title>Registrar Quirofano</title>
    <link th:href="@{../../css/register_style.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{../../css/navbar.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    <div class="heading">
        <ul class="menu">
        <li><a class="pizarrap" href="/usuarios/admin/inicio"><h1>PIZZA<span>RAP</span></h1></a></li>
        <div class="dropdown">
            <button class="dropbtn">Usuarios
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/usuarios/admin/lista">Lista de Usuarios</a>
              </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Profesionales
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profesionales/lista_profesionales">Lista de Profesionales</a>
              <a href="/profesionales/reg_profesional">Registrar Profesional</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Quirofanos
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/quirofanos/lista_quirofanos">Lista de Quirofanos</a>
                <a href="/quirofanos/reg_quirofano">Registrar Quirofano</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Intervenciones
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profesionales/lista_profesionales">Lista de Intervenciones</a>
              <a href="/profesionales/lista_profesionales">Matriz de Intervenciones</a>
              <a href="/profesionales/reg_profesional">Registrar Intervencion</a>
            </div>
        </div>
        <li><a class="nav_der" href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>

<form th:action="@{/quirofanos/reg_quirofano/}" th:object="${quirofano}" method="post" role="form">
    <div class="container">
        <h1>Registrar Quirofano</h1>
        <hr>

        <label for="email"><b>Nombre de sala</b></label>
        <input type="text" th:field="*{nombre}" placeholder="Ingrese nombre de la sala" name="email" id="email" required>
		
		<button type="submit" class="registerbtn">Registrar</button>
    </div>
</form>

</body>
</html>