<!DOCTYPE html>
<html>
	<head>
    <title>
        Registrar quirofano
    </title>
    <link th:href="@{../../css/register_style.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="heading">
    <ul class="menu">
        <li><h1>PIZZA<span>RAP</span></h1></li>
    </ul>
</div>

<form th:action="@{/quirofanos/reg_quirofano/}" th:object="${quirofano}" method="post" role="form">
    <div class="container">
        <h1>Registrar intervencion</h1>
        <hr>

        <label for="email"><b>Nombre de sala</b></label>
        <input type="text" th:field="*{nombre}" placeholder="Ingrese nombre de la sala" name="email" id="email" required>
		
		<button type="submit" class="registerbtn">Registrar</button>
		
		<a href="/usuarios/admin/inicio" class="button">Volver al inicio</a>
    </div>
</form>

</body>
</html>