<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/base-layout::head"> </head>
<body>
    <div th:if="${param.error}"class="alert alert-danger mb-3">Credenciales incorrectas</div>
    <div class="card">
        <div class="card-header"> Iniciar Sesion</div>
    </div>
    <div class="card-body">
        <form id="loginform" method="post"th:action="@{/auth/login-post}" role="form">

            <div class="row form-group">
                <label class="col-md-3">Usuario</label>
                <input type="text" name="username" class="form-control col-md-7"/>
            </div>

            <div class="row form-group">
                <label class="col-md-3">Contraseña</label>
                <input type="text" name="password" class="form-control col-md-7"/>
            </div>

            <div class="row form-group">
                <input type="submit" class="btn" value="Continuar"/>
            </div>

        </form>
    </div>
</body>
</html>