<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registro</title>
	<link th:href="@{../css/login.css}" rel="stylesheet" type="text/css" media="screen"/> 
</head>
<body>
	<div class="contact-form">
		<form th:action="@{/auth/registro}" th:object="${usuario}" method="post">
			<p>Nombre</p><input th:field="*{nombre}" placeholder="Ingrese nombre" type="text" required>
			<p>Apellido</p><input th:field="*{apellido}" placeholder="Ingrese apellido" type="text">
			<p>Email</p><input th:field="*{email}" placeholder="Ingrese email" type="email">
			<p>Contraseña</p><input th:field="*{password}" placeholder="Ingrese contraseña" type="password">
			<input type="submit" value="Registrarse">
		</form>
        <form th:action="@{/}" method="get">
            <input type="submit" value="Cancelar"></input>
        </form>
	</div>
</body>
</html>