<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/base-layout::head"> </head>
<body>
    <form th:action="@{/auth/registro}"th:object="${usuario}"method="post">

        <div class="row form-group">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">
        </div>

        <div class="row form-group">
            <label>Apellido</label>
            <input type="text" th:field="*{apellido}">
        </div>

        <div class="row form-group">
            <label>Email</label>
            <input type="text" th:field="*{email}">
        </div>
        <div class="row form-group">
            <label>Contraseña</label>
            <input type="text" th:field="*{password}">
        </div>

        <div class="row form-group">
            <input type="submit" value="Registrarse">
        </div>

    </form>
</body>
</html>