<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Menu de inicio</title>
		<link th:href="@{../../css/inicio.css}" rel="stylesheet" type="text/css" media="screen"/>   
	</head>
	<body>
		<ul class="menu">
			<li><a th:href="@{/intervenciones/user/vista_intervenciones}">Lista de intervenciones</a></li>
			<li><a th:href="@{/intervenciones/user/matriz_intervenciones}">Matriz de intervenciones</a></li>
			<li class="menu_logout"><a th:href="@{/logout}">Salir</a></li>
		</ul>
	</body>
</html>